body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8%;
    background-color: #ffffff;
    margin: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;


    
}

ul > li {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1px;
    border-bottom: 1px solid #eee;
}

ul {
    list-style: none;
    padding: 0;
}

.submit-task{
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

#add-task> input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.delete-btn{
    width: 60px;
    height: 30px;

}

.task-list{
    align-items: center;
}

.done {
    text-decoration: line-through;
    color: #28a745;
}
